<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../assets/imgs/icons8-formato-32.png" type="image/x-icon">
    <link rel="stylesheet" href="../assets/css/register.css">
    <title>Register</title>
</head>
<body>
    <div class="container">
        <main class="container-content">
            <div class="container-formulario">
                <h1 id="title">Formulário de registro</h1>
                <form action="" method="" id="formulario" autocomplete="off" >
                    <fieldset>
                        <div class="form-content">
                            <label for="">Usuario</label>
                            <input type="text" id="user">
                            <label for="">Senha</label>
                            <input type="password" id="password">
                            <label for="">Confirmação de Senha</label>
                            <input type="password" id="confirm-password">
                            <label for="">Nome</label>
                            <input type="text" id="name">
                            <label for="">E-mail</label>
                            <input type="email" id="email">
                            <label for="">CEP</label>
                            <input type="number" id="cep">
                            <label for="">Logradouro</label>
                            <input type="text" id="logradouro">
                            <label for="">Cidade</label>
                            <input type="text" id="localidade">
                            <label for="">Sexo</label>
                            <div class="radio">
                                <div class="masculino">
                                    <span>Masculino</span>
                                    <input type="radio" id="radio-masculino" name="radio">
                                </div>
                                <div class="feminino">
                                    <span>Feminino</span>
                                    <input type="radio" id="raio-feminino" name="radio">
                                </div>
                            </div>
                            <button type="submit" id="button">Cadastrar</button>
                        </div>
                    </fieldset>
                </form>              
            </div>
        </main>
    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="../assets/js/register.js"></script>
</body>
</html>