<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../assets/imgs/icons8-formato-32.png" type="image/x-icon">
    <link rel="stylesheet" href="../assets/css/register.css">
    <title>Register</title>
</head>
<body>
    <div class="container">
        <main class="container-content">
            <h1>Formulário de registro</h1>
            <div class="container-formulario">
                <form action="" method="post" id="formulario" autocomplete="off" >
                    <fieldset>
                        <label for="">Usuario</label>
                        <input type="text" id="user">
                        <label for="">Senha</label>
                        <input type="text" id="password">
                        <label for="">Confirmação de Senha</label>
                        <input type="text" id="confirm-password">
                        <label for="">Nome</label>
                        <input type="text" id="name">
                        <label for="">E-mail</label>
                        <input type="email" id="email">
                        <label for="">CEP</label>
                        <input type="number" id="cep">
                        <label for="">Logradouro</label>
                        <input type="text" id="logradouro">
                        <label for="">Cidade</label>
                        <input type="text" id="localidade">
                        <label for="">Sexo</label>
                        <div class="radio">
                            <span>Masculino</span>
                            <input type="radio" id="radio-masculino" name="radio">
                            <span>Feminino</span>
                            <input type="radio" id="raio-feminino" name="radio">
                        </div>
                        <label for="">Usuario</label>
                        <input type="text" id="user">
                        <label for="">Usuario</label>
                        <input type="text" id="user">
                        <button type="submit">Cadastrar</button>
                    </fieldset>
                </form>
            </div>
        </main>
    </div>
</body>
</html>