
body {
    background-image: linear-gradient(to bottom, #18181B 0%, #2b2b2e 50%, #2e2e31 100%);
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}
/* HEADER */
header {
    background: #18181B;
    width: 100%;
    box-shadow: #2b2b2e 0px 0px 10px;
}
header nav {
    height: 50px;
    width: 100%;

}
header li a{
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 20px;
    padding: 5px;
}
header li a:hover{
    color: #e44c65;
}
.menu {
    position: relative;
    left: 70%;
    top: 30%;
    display: inline-block;
    margin: 0 10px;
    color: white;

}
/* HEADER */

.container-content {
    width: 100%;
}

#title {
    color: white;
    font-weight: 800;
    font-size: 3em;
    margin: 1em 0;

}

.container-formulario {
    width: 800px;
    align-items: center;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    flex-direction: column;
}

form {
    
    display: flex;
    align-items: center;
    flex-direction: column;
    box-shadow: inset #2b2b2e 0px 0px 10px;
    box-shadow: #5d5d5f 0px 0px 10px;
    border-radius: 20px;
    width: 80%;
    height: 100%;
    background: #18181B;
}

fieldset {
    width: 80%;
    display: flex;
    flex-direction: column;
}

.form-content {
    
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.form-content input {
    width: 90%;
}

.radio {
    display: flex;
    flex-direction: row;
}

label {
    color: #ffffff;
    margin-top: 1rem;
    margin-bottom: 0.2rem;
}
.sex {
    display: inline-block;
    margin-bottom: 10px;
}
.masculino, .feminino {
    padding: 5px 0;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
}
button {
    border-radius: 20px;
    position: relative;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: 1rem;
    font-size: 15px;
    background-color: #e44c65;
    color: white;
    width: 300px;
    border: none;
    left: 21%;
    transition: 0.5s;
}

button:hover {
    transition: 0.5s;
    transform: scale(1.1);
    color: white;
    background-color: #912638;
    font-size: 17px;
}

span {
    color: white;
}
footer {
    height: 50px;
    width: 100%;
    text-align: center;
    margin-top: 3em;
    color: #ffffff;
    background: #18181B;
    width: 100%;
    box-shadow: #2b2b2e 10px 10px 10px;
}

@media screen and (max-width: 800px){
    body {
        height: 80%;
        width: 80%;
    }

    form {
        height: 100%;
    }
}

/* Formulario Fim */

